$typeRed: #e50914;

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .display-none {
    display: none;
  }
  .loading-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-color: black;
    z-index: 99999;

    .gigaboxend {
      display: flex;
      position: absolute;
      border: 1px solid $typeRed;
      width: 50vw;
      height: 5vh;
      transform: translate(calc((100vw - 50vw) / 2), calc((100vh + 25vh) / 2));

      .boxAll {
        width: 10vw;
        height: 5vh;
      }
      .endboxAll {
        width: 10vw;
        height: 10vh;
      }
    }

    .gigabox {
      display: flex;
      background-image: url(/images/logo_moviequiz.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 50vw;
      height: 25vh;
      margin-top: calc((100vh - 55vh) / 2);
      margin-left: calc((100vw - 50vw) / 2);
      @media (min-width: 768px) {
        width: 50vw;
        height: 20vh;
        margin-left: calc((100vw - 50vw) / 2);
        margin-top: calc((100vh - 65vh) / 2);
      }
      .startBox {
        width: 10vw;
        height: 15vh;
        z-index: 55;
        @media (min-width: 768px) {
          width: 10vw;
          height: 20vh;
        }
      }
    }
    .boxAll {
      width: 10vw;
      height: 15vh;
      background-color: black;
      @media (min-width: 768px) {
        width: 10vw;
        height: 20vh;
      }
    }
    .reducedY {
      animation-name: reducedY;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes reducedY {
      0% {
        height: 10vh;
      }
      100% {
        height: 0;
      }
    }
  }

  // Fin Loading Screen

  .hero {
    height: 80vh;
    width: 100vw;
    background-image: url(/images/films/interstellar.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    position: relative;
    .main-text-box {
      margin-top: auto;
      justify-content: flex-end;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      @media (min-width: 991.98px) {
        margin-left: 99px;
      }
      .main-title {
        font-size: 4rem;
        color: white;
        text-shadow: 0px 0px 10px black;
      }
      .btn-hero {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        cursor: pointer;

        @media (min-width: 991.98px) {
          flex-direction: row;
          gap: 16px;
        }
        .btn-annonce {
          color: black;
          background-color: white;
          border-radius: 4px;
          padding: 10px;
          width: 340px;
          font-size: 1.7rem;
        }
        .btn-info {
          color: white;
          background: rgba(109, 109, 110, 0.7);
          border-radius: 4px;
          padding: 10px;
          @media (min-width: 991.98px) {
            width: 300px;
          }
        }
      }
    }
  }

  .navigation {
    width: 99vw;
    align-items: center;
    .nav-tab,
    .offcanvas-title {
      background-color: darkred;
      font-size: 1.5rem;
      color: antiquewhite;
      .nav-tab-text {
        color: antiquewhite;
      }
    }

    .logo {
      margin-right: auto;
      background-image: url(/images/logo_moviequiz-mobile.png);
      width: 74px;
      height: 74px;
      @media (min-width: 768px) {
        background-image: url(/images/logo_moviequiz.png);
        width: 300px;
        height: 75px;
        background-size: contain;
      }
    }
    .howto {
    }
    .custom-toggler.navbar-toggler {
      border-color: rgb(229, 9, 20);
    }
    .nav-btn {
      .nav-span {
        background-image: url(/images/bar.svg);
      }
    }
  }

  .swiper {
    width: 100%;
    height: 150px;
    .swiper-wrapper {
      .swiper-slide {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #e50914;
        font-size: 1.5rem;
        text-shadow: 0px 0px 5px rgb(255, 255, 255);
      }
      .swiper-grey {
        filter: grayscale(100%);
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      --swiper-navigation-color: #e50914;
      --swiper-navigation-size: 25px;
    }
  }

  .liste-titles {
    font-size: 1.6rem;
    color: white;
  }
  .acsreal,
  .mentlegal {
    text-align: center;
  }

  .modal-content {
    background-color: #0b0b0b;
    .modal-header,
    h4,
    .close {
      background-color: #e50914;
      color: white !important;
      text-align: center;
      font-size: 30px;
      .modal-title-detail {
        font-size: 2rem;
      }
    }
    .modal-body {
      .movie-overview {
        color: white;
        font-size: 1.2rem;
      }
      .proposition {
        color: white;
        font-size: 1.5rem;
      }
      #reponse {
        outline: none;
      }
    }
    .modal-footer {
      background-color: #1b1b1b;
    }
    .modal-body-image,
    .modal-body-image-detail {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 225px;
      font-size: 3rem;
      color: #e50914;
      text-align: center;
      text-shadow: 2px 2px 10px #ffffff;
      @media (min-width: 991.98px) {
        height: 65vh;
      }
    }
  }
}
