body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
body #grain {
  background-image: url(/images/graingif.gif);
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  pointer-events: none;
  position: absolute;
}
body .display-none {
  display: none;
}
body .loading-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  background-color: black;
  z-index: 99999;
}
body .loading-screen .gigaboxend {
  display: flex;
  position: absolute;
  border: 1px solid #e50914;
  width: 50vw;
  height: 5vh;
  transform: translate(25vw, 62.5vh);
}
body .loading-screen .gigaboxend .boxAll {
  width: 10vw;
  height: 5vh;
}
body .loading-screen .gigaboxend .endboxAll {
  width: 10vw;
  height: 10vh;
}
body .loading-screen .gigabox {
  display: flex;
  background-image: url(/images/logo_moviequiz.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 25vw;
  height: 15vh;
  margin-top: 17.5vh;
  margin-left: 37.5vw;
}
body .loading-screen .gigabox .startBox {
  width: 5vw;
  height: 15vh;
  z-index: 55;
}
body .loading-screen .boxAll {
  width: 5vw;
  height: 15vh;
  background-color: black;
}
body .loading-screen .reducedY {
  animation-name: reducedY;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes reducedY {
  0% {
    height: 10vh;
  }
  100% {
    height: 0;
  }
}
body .hero {
  height: 80vh;
  width: 100vw;
  background-image: url(/images/films/interstellar.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  position: relative;
}
body .hero .main-text-box {
  margin-top: auto;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}
@media (min-width: 991.98px) {
  body .hero .main-text-box {
    margin-left: 99px;
  }
}
body .hero .main-text-box .main-title {
  font-size: 4rem;
  color: white;
  text-shadow: 0px 0px 10px black;
}
body .hero .main-text-box .btn-hero {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  cursor: pointer;
}
@media (min-width: 991.98px) {
  body .hero .main-text-box .btn-hero {
    flex-direction: row;
    gap: 16px;
  }
}
body .hero .main-text-box .btn-hero .btn-annonce {
  color: black;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}
body .hero .main-text-box .btn-hero .btn-info {
  color: white;
  background: rgba(109, 109, 110, 0.7);
  border-radius: 4px;
  padding: 10px;
}
@media (min-width: 991.98px) {
  body .hero .main-text-box .btn-hero .btn-info {
    width: 300px;
  }
}
body .navigation {
  width: 99vw;
  align-items: center;
}
body .navigation .nav-tab,
body .navigation .offcanvas-title {
  background-color: darkred;
  font-size: 1.5rem;
  color: antiquewhite;
}
body .navigation .nav-tab .nav-tab-text,
body .navigation .offcanvas-title .nav-tab-text {
  color: antiquewhite;
}
body .navigation .logo {
  margin-right: auto;
  background-image: url(/images/logo_moviequiz-mobile.png);
  width: 74px;
  height: 74px;
}
@media (min-width: 768px) {
  body .navigation .logo {
    background-image: url(/images/logo_moviequiz.png);
    width: 300px;
    height: 75px;
    background-size: contain;
  }
}
body .navigation .custom-toggler.navbar-toggler {
  border-color: rgb(229, 9, 20);
}
body .navigation .nav-btn .nav-span {
  background-image: url(/images/bar.svg);
}
body .swiper {
  width: 100%;
  height: 150px;
}
body .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #e50914;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
body .swiper .swiper-wrapper .swiper-grey {
  filter: grayscale(100%);
}
body .swiper .swiper-button-prev,
body .swiper .swiper-button-next {
  --swiper-navigation-color: #e50914;
  --swiper-navigation-size: 25px;
}
body .liste-titles {
  font-size: 1.6rem;
  color: white;
}
body .acsreal,
body .mentlegal {
  text-align: center;
}
body .modal-content {
  background-color: #0b0b0b;
}
body .modal-content .modal-header,
body .modal-content h4,
body .modal-content .close {
  background-color: #e50914;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
body .modal-content .modal-body .proposition {
  color: white;
  font-size: 1.5rem;
}
body .modal-content .modal-body #reponse {
  outline: none;
}
body .modal-content .modal-footer {
  background-color: #1b1b1b;
}
body .modal-content .modal-body-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  font-size: 3rem;
  color: #e50914;
  text-align: center;
  text-shadow: 2px 2px 10px #ffffff;
}/*# sourceMappingURL=sass.css.map */